@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,500;0,600;1,400&family=Inter&display=swap');

$narrow: 'Archivo Narrow', sans-serif;
$inter: 'Inter', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $narrow;
}

.container {
    padding: 0 1rem;
    margin-top: 2rem;

    h1 {
        text-align: center;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

#map {
    width: 100%;
    height: 360px;

    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
        background: white;
        color: #202020;
        box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
        text-align: center;

        .leaflet-popup-content a {
            color: #202020;
            text-decoration: none;
        }
    }
}

#about {
    .secao-uni {
        display: none;

        &.ativo {
            display: block;
        }
    }
}